# ignore all by default
*
!.gitignore
!README.md

!starship.toml

!zsh/
!zsh/zprofile
!zsh/zlogin
!zsh/zlogout
!zsh/zshrc

!tmux/
!tmux/tmux.conf
!tmux/themes
!tmux/themes/**

!alacritty/
!alacritty/**

!nvim/
!nvim/**

